body {
  background-color: #ddd;
}
.ProjectTitle{
  margin: 30px ;
  margin-left: 700px;
}
.formdiv{
  width: 750px;
  margin: 50px auto;
  padding: 30px;
  background-color: #4b6177;
  margin-left: 600px;
}
input{
  background-color: #ddd;
  color: black;
  border: none;
  font-size: 20px;
  margin-left: 30px;
}
.addbtn{
  height: 35px;
  width: 100px;
  background-color: #ddd;
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0); 
  font-weight: 500;
  border-radius: 10px;
  margin-left: 50px;
}
.body{
  height: 350px;
  width: 500px;
  background-color: #4b6177;
  color: black;
  margin-top: 20px;
  border-radius: 20px;
  padding: 30px;
}
.header{
  justify-self: center;
  font-size: 22px;
  font-weight: 700;
}
.title{
  justify-self: center;
  font-size: 20px;
}
.text{
  margin-top: 5px;
  font-size: 18px;
}
.btndanger{
  height: 40px;
  width: 70px;
  background-color: maroon;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  margin-left: 50px;
}
.btnedit{
  height: 40px;
  width: 60px;
  background-color: navy;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  margin-left: 80px;
}
.row {
  justify-content: center;
}
.col-md-4 {
  display: flex;
  justify-content: center;
}